

<section class="footer_sec">
<div class="store_div">
    <h3 class="store_title">Tienda</h3>
    <ul class="list_store_title">
      <li>Productos</li>
      <li>Cajoneras</li>
      <li>Para toda la casa</li>
      <li>habitaciones</li>
    </ul>
</div>

<div class="us_div">
    <h3 class="about_us_title">Nosotros</h3>
    <ul class="list_about_us">
      <li>Nuestra guía</li>
      <li>Nuestro diseño</li>
      <li>Nuesta historia</li>
      <li>Ayuda</li>
    </ul>
</div>

<div class="contact_div">
  
    <h3 class="contact_title">Contacto</h3>
    <p class="email">ayuda@openspaces.com</p>
    <p class="partners">Socios</p>
 
</div>
     
</section>
  <div class="rrss">
    <div class="icons_twitter">
    <img src="/assets/images/twitter.png" class="twitter">
    </div>
    <div class="icons_twitter">
        <img src="/assets/images/twitter.png" class="twitter">
        </div>
        <div class="icons_twitter">
            <img src="/assets/images/twitter.png" class="twitter">
            </div>
    
</div>

  <div class="arrow_icon">
    <i class="fa-solid fa-arrow-up" ></i>
    </div>