

<section class="footer_sec">
<div class="store_div">
    <h3 class="store_title">Tienda</h3>
    <ul class="list_store_title">
      <li><a href="http://www.adalab.es">Productos</a></li>
      <li><a href="http://www.adalab.es">Cajoneras</a></li>
      <li><a href="http://www.adalab.es">Para toda la casa</a></li>
      <li><a href="http://www.adalab.es">Habitaciones</a></li>
    </ul>
</div>





<div class="us_div">
    <h3 class="about_us_title">Nosotros</h3>
    <ul class="list_about_us">
      <li><a href="http://www.adalab.es">Nuestra guía</a></li>
      <li><a href="http://www.adalab.es">Nuestro diseño</a></li>
      <li><a href="http://www.adalab.es">Nuesta historia</a></li>
      <li><a href="http://www.adalab.es">Ayuda</a></li>
    </ul>
</div>







<div class="contact_div">
  
    <h3 class="contact_title">Contacto</h3>
    <p class="email">ayuda@openspaces.com</p>
    <p class="partners">Socios</p>
 
</div>
     
</section>
  <div class="rrss">
    <div class="icons_twitter">
    <img src="/assets/images/twitter.png" class="twitter">
    </div>
    <div class="icons_twitter">
        <img src="/assets/images/twitter.png" class="twitter">
        </div>
        <div class="icons_twitter">
            <img src="/assets/images/twitter.png" class="twitter">
            </div>
    
</div>

  <div class="arrow_icon">
    <a href="./index.html"> <img src="/assets/images/arrow.png" class="arrow"> </a>
    </div>