footer{
    width: 100%;
    background-color: var(--verde_principal);
}

.footer_sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--verde_agua);
    font-family: var(--secondary-font);  
}

ul.list_store_title li a{
    text-decoration: none;
    color:var(--verde_agua);
}
ul.list_about_us li a{
    text-decoration: none;
    color:var(--verde_agua);
}

.list_store_title{
    list-style: none;
    font-size: 14px;
    
}
.list_about_us{   
    list-style: none;
    font-size: 14px;
}

.email{
    font-size: 14px;
}
.about_us_title {
    font-size: 20px;
}
.contact_title{
    font-size: 20px;
}

.store_title{
    font-size: 20px;
}

.store_div{
    width: 208px;
    height: 119px;
    margin-top: 56px;
}

.us_div{
    width: 208px;
    margin-top: 30px;
}

.contact_div{
    width: 208px;
    margin-top: 30px;
}
.partners{
    font-size: 14px;
}

.arrow{
    height: 24px;
    width: 24px;
    object-fit: contain;
    margin-left: 300px;
    margin-bottom: 30px;
   
}

@media all and (min-width: 900px){
    footer{
        height: 100vh;
        width: 100%
    }

    .footer_sec{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: var(--verde_agua);
        font-family: var(--secondary-font);
      
    }
    .list_about_us{   
        list-style: none;
        font-size: 14px;    
    }

    .about_us_title{
        margin-top: 15px;
    }

    .contact_title{
        margin-top: -23px; 
   }

   .rrss{
    display: flex;
    flex-direction: row;
    margin-left: 730px;
    margin-top: -40px;
}

.arrow{
    height: 24px;
    width: 24px;
    object-fit: contain;
    margin-left: 1020px;
}
}