.section_1{
    width: 100%;  
    display: grid;
    grid-template-columns: 1fr;
    background-color:var(--beige);
}

.title_section_1{
    color: var(--verde_principal);
    text-align: center;
    margin-top: 41px;
    margin-right: 45px;
    margin-left: 45px;
    font-family: var(--secondary-font);
 
}

.all_benefits{
display: grid;
text-align: center;
margin-left: 80px;
margin-right: 80px;
margin-top: 18px;
margin-bottom: 18px;


}

.icon_benefit_1{
height: 99px;
width: 72px;
margin-top: 37px;
}

.title_benefit_1{
    font-size: 20px;
    color: var(--verde_principal);
    font-family: var(--secondary-font);
    margin-top: 47px;   
}

.text_benefit_1{
    font-size: 16px;
    color: var(--verde_principal);
    font-family: var(--secondary-font);   
    margin-top: 12px;    
}

.icon_benefit_2{
    height: 72px;
    width: 81px;  
    margin-top: 63px; 
    }

    .title_benefit_2{
    font-size: 20px;
    color: var(--verde_principal);     
    font-family: var(--secondary-font);
    margin-top: 47px; 
    }

    .text_benefit_2{
    font-size: 16px;
    color: var(--verde_principal);     
    font-family: var(--secondary-font);
    margin-top: 12px;     
    }

    .icon_benefit_3{
        height: 67.5px;
        width: 78.9;  
        margin-top: 63px;        
        }

        .title_benefit_3{
        font-size: 20px;
        color: var(--verde_principal);        
        font-family: var(--secondary-font);   
        margin-top: 47px;        
        }

        .text_benefit_3{
        font-size: 16px;
        color: var(--verde_principal);          
        font-family: var(--secondary-font); 
        margin-top: 12px;   
        }

    
    @media all and (min-width: 900px){
        .section_1{        
            width: 100%;
            display: grid;
        } 

    } 

    