.section_2{
    width:100%;
    background-color: var(--naranja);
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr;
      
}

.icon_delivery{
    height: 120px;
    width: 120px;
    margin-top: 46px;  
}

.title_delivery{
    text-align: center;
    color: white;
    font-family: var(--secondary-font);
    font-size: 24px;
}

.text_delivery{
    text-align: center;
    color: white;
    font-family: var(--secondary-font);
    font-size: 14px;
}

.botton_delivery{
    height: 48px;
    width: 175px;   
    background-color: transparent;
    border: none;
    margin-bottom: 63px;
}
.text_botton_delivery{
    font-size: 16px;
    color: white;
    font-family: var(--secondary-font);
}


   
    
