.section_1{
   display: grid;
   grid-template-columns: 1fr;
   width: 414px;
   height: 1108px;
   background-color:var(--beige);
   }

.title_section_1{
    color: var(--verde_principal);
    text-align: center;
    margin-top: 41px;
    margin-right: 45px;
    margin-left: 45px;
    font-family: var(--secondary-font);    
   
   
}
.icon_benefit_1{
height: 99px;
width: 72px;
margin-left: 165px;


}

.title_benefit_1{
    font-size: 20px;
    color: var(--verde_principal);
    text-align: center;
    font-family: var(--secondary-font);
   
}
.text_benefit_1{
    font-size: 16px;
    color: var(--verde_principal);
    text-align: center;
    font-family: var(--secondary-font);
    margin-left: 100px;
    margin-right: 100px;
       
}

.icon_benefit_2{
    height: 72px;
    width: 81px;
    margin-left: 170px;
   
    }

    .title_benefit_2{
        font-size: 20px;
        color: var(--verde_principal);
        text-align: center;
        font-family: var(--secondary-font);
       
    }

    .text_benefit_2{
        font-size: 16px;
        color: var(--verde_principal);
        text-align: center;
        font-family: var(--secondary-font);
        margin-left: 106px;
        margin-right: 100px;
    }

    .icon_benefit_3{
        height: 67.5px;
        width: 78.9;
        margin-left: 174.6px;
        
        }

        .title_benefit_3{
            font-size: 20px;
            color: var(--verde_principal);
            text-align: center;
            font-family: var(--secondary-font);
           
        }
        .text_benefit_3{
            font-size: 16px;
            color: var(--verde_principal);
            text-align: center;
            font-family: var(--secondary-font);
            margin-left: 110px;
            margin-right: 95px;
        }