.section_2{
    height: 352px;
    width:414px;
    background-color: var(--naranja);
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    
}

.icon_delivery{
    height: 120px;
    width: 120px;
    margin-left: 142px;
    margin-right: 152px;

}

.title_delivery{
    text-align: center;
    color: white;
    font-family: var(--secondary-font);
    font-size: 24px;
}

.text_delivery{
    text-align: center;
    color: white;
    font-family: var(--secondary-font);
    font-size: 14px;
}

.botton_delivery{
    height: 48px;
    width: 175px;
    margin-left: 120px;
    background-color: transparent;
    border: none;

}

.text_botton_delivery{
    font-size: 16px;
    color: white;
    font-family: var(--secondary-font);
}

    
